<!-- TODO: add link in divs below image -->
<!-- TODO: rename this to be more semantically logical -->

<li>
  <% @image_tag = show_primary_image listing %>
  <%= link_to(@image_tag, listing) %>
    <div><span><%= listing.title %></span><span>$<%= listing.price %></span></div>

</li>