<h2>Listings</h2>

<div id="search-results">
  <ul>
  <% @listings.each do |listing| %>
  <li>
    <%= link_to('Show', listing) %>
      <img src="" alt=""/>
      <div><span><%= listing.title %></span><span><%= listing.price %></span></div>

  </li>
  <% end %>
  </ul>
</div>

<%= link_to 'New Listing', new_listing_path %>
