//
// Mixins (TODO: move to a separate SCSS file)
//

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin rounded($top-left-radius, $top-right-radius, $bottom-right-radius, $bottom-left-radius) {
  -webkit-border-radius: $top-left-radius $top-right-radius $bottom-right-radius $bottom-left-radius;
  -moz-border-radius: $top-left-radius $top-right-radius $bottom-right-radius $bottom-left-radius;
  border-radius: $top-left-radius $top-right-radius $bottom-right-radius $bottom-left-radius;
}


//
// Main variables
//

$main-font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
$top-bar-height: 40px;

$desired-page-width: 960px;
$main-padding: 5px;
$page-width: $desired-page-width - $main-padding * 2;

$white: #f0f0f0;


//
// Style definitions
//

body {
	background-color: #ddd;
	line-height: 18px;

	font: {
		family: $main-font-family;
		size: 1em;
	};
}

header {
	position: fixed;
	width: 100%;
	height: $top-bar-height;

	background-color: black;
	@include gradient(#333, #000);
	@include box-shadow(0, 0, 2px, 1px, #888);

	#header-items {
	  width: $page-width;
	  height: 100%;
	  margin-left: auto;
	  margin-right: auto;

		#header-title {
		  float: left;

		  a {
		   	display: block;
		   	line-height: $top-bar-height;
		   	color: $white;
		   	text-decoration: none;

    		font: {
    			family: $main-font-family;
    			weight: bold;
    			size: 20px;
    		}
		  }
  	}

  	ul {
  	  height: 100%;
  	}

  	nav {
  	  height: 100%;
  		float: left;
  		margin-left: 40px;
  	}

  	li {
  	  float: left;
  	  height: 100%;
  	  vertical-align:middle;

  	  a {
  	    height: 100%;
  	    display: block;
  	    line-height: $top-bar-height;
  	    text-decoration: none;
    	  padding-left: 10px;
    	  padding-right: 10px;
    	  color: #ccc;
    	  font-size: 14px;

  	    &:hover {
  	      @include gradient(#444, #111);
  	      color: #eee;
  	    }
  	  }
  	}
	}
}

#main {
  padding: 40px $main-padding 20px $main-padding;
  margin: auto;
  width: $page-width;
  background-color: #fefefe;
  @include box-shadow(0, 0, 2px, 2px, #ccc)
}

footer {
  padding: $main-padding $main-padding $main-padding $main-padding;
  margin: 0px auto 20px auto;
  width: $page-width;
  background-color: #f5f5f5;
  @include box-shadow(0, 0, 2px, 2px, #ccc);
  @include rounded(0, 0, 4px, 4px);
}

a, a:visited {
  color: #111;

  &:hover {
    color: #555;
  }
}

h1, h2 {
  color: #111;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


